<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Dear <%= username %>,</p>
<p style="margin-bottom: 25px;">An update to the email address of your account has recently been requested. If you are the author of this change, please ignore this message. Otherwise, someone could have taken the control of your account. To recover it, click the button below:</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #28AFB0; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%= url.resolve(process.env.URL,'/email/recover')+'?token='+encodeURIComponent(token) %>">Recover email</a>
</div>
<p style="margin-bottom: 25px;">Then, change your password. If you have any trouble, try pasting this link in your browser: <a style="color: #28AFB0; word-wrap: break-word;" href="<%= url.resolve(process.env.URL,'/email/recover')+'?token='+encodeURIComponent(token) %>"><%= url.resolve(process.env.URL,'/email/recover')+'?token='+encodeURIComponent(token) %></a></p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The VBBBQ Team</p>
